# Ignorar a pasta de dependências
node_modules/

# Ignorar arquivos de configuração de pacotes
package.json
package-lock.json

# Ignorar arquivo de configuração do Babel
.babelrc

# Ignorar arquivos do ambiente específico (opcional)
.env

# Logs do sistema
npm-debug.log
yarn-debug.log
yarn-error.log

# Diretórios do sistema operacional
.DS_Store
Thumbs.db
